{% extends "base.html" %}

{% block title %} User news {% endblock title %}

{% block header %}
<div id="header-content">
<a href="http://www.daylife.com/"><img src="/site-media/images/DLpbWHThoriz.jpg" /></a>
<div id="nav">
<p>Current topics: 
{% for topic in news %}
    <a href="#{{ topic.topic }}">{{ topic.topic }}</a>
{% endfor %}
</p>
</div>
</div>
{% endblock header %}

{% block body%}
{% for topic in news %}
    <div class="article-main">
    <a name="{{ topic.topic }}"></a>
    <fieldset>
    <legend>{{ topic.topic }}</legend>
    {% with topic.content as article_list %}
        {% for article in article_list %}
            <div class="article">
            <p class="headline">{{ article.headline }}</p>
            <b>{{ article.timestamp }}</b>
            <blockquote>{{ article.excerpt }}</blockquote>
            <p>More at: <a href="{{ article.url }}">{{ article.source.name }}</a></p>
            </div>
            {% if forloop.last %}{% else %}<hr />{% endif %}
        {% endfor %}
    {% endwith %}
    </fieldset>
    </div>
{% endfor %}
{% endblock body%}

{% block footer %}
    <div id="footer-content">
        <p>Copyright <a href="http://www.hughdbrown.com/">Hugh Brown</a> &bull;
        <a href="http://creativecommons.org/licenses/by/3.0/us/" title="Creative Commons Attribution">Some Rights Reserved</a>  &bull;
        <a href="http://www.djangoproject.com/">Django powered</a>
    </div>
{% endblock footer %}

