{% extends "base.html" %}

{% block title %} User news {% endblock title %}

{% block header %}
<h1><a href="http://www.daylife.com/">DayLife News</a></h1>
<div id="nav">
{% for topic in news %}
    <a href="#{{ topic.topic }}">{{ topic.topic }}</a>
{% endfor %}
</div>
{% endblock header %}

{% block body%}
{% for topic in news %}
    <div class="article-main">
    <a name="{{ topic.topic }}"></a>
    <fieldset>
    <legend>{{ topic.topic }}</legend>
    {% with topic.content as article_list %}
        {% for article in article_list %}
            <div class="article">
            <h2>{{ article.headline }}</h2>
            <b>{{ article.timestamp }}</b>
            <blockquote>{{ article.excerpt }}</blockquote>
            <a href="{{ article.url }}">{{ article.source.name }}</a>
            </div>
            {% if forloop.last %}{% else %}<hr />{% endif %}
        {% endfor %}
    {% endwith %}
    </fieldset>
    </div>
{% endfor %}
{% endblock body%}

