<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>DayLife News | {% block title %}{% endblock title %}</title>
    
    <link href="{{ MEDIA_URL}}css/daylifenews.css" rel="stylesheet" type="text/css" media="screen" />    
</head>

<body>
    <div id="header">
        {% block header %}{% endblock header%}
    </div>
    <div id="content-main">
        {% block body %}{% endblock body %}
    </div>
    <div id="footer">
        {% block footer %}{% endblock footer %}
    </div>
</body>
</html>
